# Données audio (datasets trop lourds pour git)
esc50/audio/*
!esc50/audio/.gitkeep
urban_sound_8k/audio/*
!urban_sound_8k/audio/.gitkeep

# Métadonnées téléchargeables
esc50/meta/*
!esc50/meta/.gitkeep
urban_sound_8k/metadata/*
!urban_sound_8k/metadata/.gitkeep

# Logs TensorBoard
esc50/runs/
urban_sound_8k/runs/

# Modèles sauvegardés
*.pt
*.pth
*.ckpt

# Exports ONNX
esc50/onnx/*.onnx
esc50/onnx/*.onnx.data
urban_sound_8k/onnx/*.onnx
urban_sound_8k/onnx/*.onnx.data

# Checkpoints Jupyter
**/.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo
